# SAM2 Hiera-Base W4A8 Quantization Configuration
# 4-bit weights, 8-bit activations for facebook/sam2-hiera-base-plus

quant:
  calib:
    num_samples: 128
    batch_size: 1

  wgts:
    dtype: uint4
    zero_point: PostScale
    static: true
    group_shapes:
      - [1, 128]
    scale_dtypes:
      - torch.float16

    kernel_gptq:
      damp_percentage: 0.01
      block_size: 128
      num_inv_tries: 250
      hessian_block_size: 512

    skip_patch_embed: true
    skip_first_block: false
    skip_last_block: false
    skip_decoder: false

    calib_range:
      objective: TensorError
      strategy: GridSearch
      granularity: Group
      degree: 2.4
      num_grids: 100

  ipts:
    dtype: uint8
    zero_point: PostScale
    static: false
    per_token: true
    group_shapes:
      - [1, -1]
    scale_dtypes:
      - torch.float16

    calib_range:
      objective: TensorError
      strategy: GridSearch
      granularity: Group
      degree: 2.4
      num_grids: 100

  opts:
    dtype: uint8
    zero_point: PostScale
    static: false
    per_token: true
    group_shapes:
      - [1, -1]
    scale_dtypes:
      - torch.float16

    calib_range:
      objective: TensorError
      strategy: GridSearch
      granularity: Group
      degree: 2.4
      num_grids: 100

  rotation:
    enabled: false

  smooth:
    enabled: false
